<div class="container">
    <h1 class="mb-5">Editar Edificios</h1>

    <%= render 'form', building: @building, apartment: @apartment %>

    <%= link_to 'Ver', @building, class:"btn btn-primary" %> 
    <%= link_to 'Volver', buildings_path, class:"btn btn-primary" %>
</div>