<div class="container">
    <h1 class="mb-5">Editar Departamento</h1>

    <%= render 'form', apartment: @apartment, buildings: @buildings %>

    
    <%= link_to 'Volver', :back, class:"btn btn-primary mb-5" %>
</div>