<div class="container">
    <h1 class="mb-5">Crear Departamento</h1>

    <%= render 'form', apartment: @apartment, buildings: @buildings %>

    <%= link_to 'Volver', :back, class:"btn btn-primary" %>
</div>